<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/chat-view.css">
    <title>myChat</title>
</head>
<body>
    <!-- <div id="tab" style="margin-bottom: 10px ;">
        <input type="button" value="LABSY">
    </div> -->
        <div class="position">
            <div id="chat" class="chat">
                <div id="message" class="message">
                    <!-- Mensaje recibido
                    <div class="section">
                        <div class="message_received">
                            <span class="user">El:</span>
                            <span class="mess">Lorem ipsum, dolor sit amet consectetur adipisicing</span>
                            <span class="date">07:19 am 25-08-2022</span>
                        </div>
                        <div class="message_received">
                            <span class="user">El:</span>
                            <span class="mess">Lorem ipsum</span>
                            <span class="date">07:19 am 25-08-2022</span>
                        </div>
                        <div class="message_received">
                            <span class="user">El:</span>
                            <span class="mess">Lorem ipsum</span>
                            <span class="date">07:19 am 25-08-2022</span>
                        </div>
                    </div>
                    Mensaje enviado
                    <div class="section">
                        <div class="section_2">
                            <div class="message_send">
                                <span class="user">Yo:</span>
                                <span class="mess">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                <span class="date">07:19 am 25-08-2022</span>
                            </div>
                        </div>
                        <div class="section_2">
                            <div class="message_send">
                                <span class="user">Yo:</span>
                                <span class="mess">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                <span class="date">07:19 am 25-08-2022</span>
                            </div>
                        </div>
                    </div>
                    Mensaje recibido
                    <div class="section">
                        <div class="message_received">
                            <span class="user">El:</span>
                            <span class="mess">Lorem ipsum, dolor sit amet consectetur adipisicing</span>
                            <span class="date">07:19 am 25-08-2022</span>
                        </div>
                        <div class="message_received">
                            <span class="user">El:</span>
                            <span class="mess">Lorem ipsum</span>
                            <span class="date">07:19 am 25-08-2022</span>
                        </div>
                    </div> 
                    Mensaje enviado
                    <div class="section">
                        <div class="section_2">
                            <div class="message_send">
                                <span class="user">Yo:</span>
                                <span class="mess">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                <span class="date">07:19 am 25-08-2022</span>
                            </div>
                        </div>
                        <div class="section_2">
                            <div class="message_send">
                                <span class="user">Yo:</span>
                                <span class="mess">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                <span class="date">07:19 am 25-08-2022</span>
                            </div>
                        </div>
                    </div> -->            
                </div>
                <form method="post" action="" class="area_activity" id="area_activity">
                    <textarea name="text" id="text" placeholder="Mensaje" cols="10" rows="1"></textarea>
                    <!-- <input  name="text" id="text" placeholder="Mensaje"> -->
                    <input type="image" src="../view/images/send.png" alt="Enviar" value="send" id="send" name="send">
                </form>
            </div>
            <script src="../view/js/jquery.min.js"></script>
            <script src="../view/js/chat-view.js"></script>
        </div>
</body>
</html>